$almost-black: #100e1d;
$dark-gray: #333333;
$medium-gray: #4f4f4f;
$light-gray: #828282;
$very-light-gray: #e0e0e0;
$other-gray: #bdbdbd;
$almost-almost-white: #f2f2f2;
$almost-white: #fafafa;
$fluffy-blue: #2d9cdb;
$salmon: #eb5757;
