@use "colors" as c;

body {
  font-family: "Poppins", sans-serif;
  background-color: c.$almost-white;
  color: c.$almost-black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

// hide content
.hide-content {
  display: none;
}
